:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  border-bottom: 1px solid #ccc;
  padding-left: 1em;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #ccc;
  margin-top: auto;
}

.chatDashboard {
  display : flex;
  flex-direction : column;
  flex: 1;
  min-height: 0; 
}

.chatContent {
  overflow-y: auto;
  min-height: 0;
}

button {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}

.returnButton {
  background-color: white;
  color: black;
  border: solid 1px black;
}

input {
  border: solid 1px var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  width: 30%;
}

