header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setUserToTalkButton {
    width: 100%;
    background-color: rgb(45, 45, 212);
    padding: 10px 0 10px 0;
    margin-top: 10px;
    color: white;
}