/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Be Vietnam Pro', sans-serif;
  --primary-color: #0b74de;
}

* {
    box-sizing: border-box;
    overflow: auto;
}

header {
    color: white;
    background-color: var(--primary-color);
    padding: 1em;
    font-size: clamp(1.2em, 4vw, 2em);
}

.header-button {
    background-color: white;
    color: black;
    border: solid 1px black;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

.page-title {
    display: block;
    width: 100%;
    border: solid 1px var(--primary-color);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}